# Binance API (demo.binance.com da oling)
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_TESTNET=true

# Telegram (@BotFather)
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=

# Savdo sozlamalari
SYMBOL=BTC/USDT
TIMEFRAME=15m
STARTING_BALANCE=500
RISK_PER_TRADE=0.01
